.pokemon {
  width: 900px;
  margin: 0 auto;
  text-align: center;
}

.pokemon > img {
  width: 150px;
  height: 100%;
}

#bulbasaur {
  position: relative;
  top: 10px;
  left: 0;
}

#charmander {
  position: relative;
  top: 20px;
  left: 50px;
}

#squirtle {
  position: relative;
  top: 200px;
  left: 200px;
}

#pikachu {
  position: relative;
  top: 350px;
  left: 300px;
}

#jigglypuff {
  position: relative;
  top: 500px;
  left: 350px;
}
