.button1 {
  color: white;
  background-color: blue;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 100%;
}

.button2 {
  color: white;
  background-color: red;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 100%;
}

.color {
  background-color: rgb(0 0 0 / 80%);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modal {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  padding: 60px;
  width: 500px;
  margin: 150px auto;
}

.off {
  display: none;
}

.on {
  display: flex;
}
